<!DOCTYPE html>
<html>
  <head>
    <title>Woof</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtuRxYMQ20cACgsvqS9xvEA1hTQG43pV0" %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script>
      if (window.location.protocol == "http:") {
        console.log("You are not connected with a secure connection.")
        console.log("Reloading the page to a Secure Connection...")
        window.location = document.URL.replace("http://", "https://");
      }

      if (window.location.protocol == "https:") {
        console.log("You are connected with a secure connection.")
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
